@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zalando+Sans:ital,wght@0,300;1,300&display=swap');
:root {
    --primary-pink: #ffb3c6;         
    
    --background: #fff0f5;
    --tiptap-toolbar: #ffc2d1;   

    --nav-gradient: linear-gradient(to bottom, #FFB3C1 0%, #ffacc5 0%, #FFB3C1 100%);
    --pink-shadow: 0px 20px 40px 10px rgba(255,135,171,0.35);

    --button: #ffa6c1;
    --button-hover: #ff87ab;
    --font-family: "Libre Baskerville", serif;
    --text-color: #1a0a10;
}

[data-theme="dark"],
.dark {
    --background: #fb6f92;
    --primary-pink:  #fa557e;
    --tiptap-toolbar: #fe4a83;   

    --nav-gradient: linear-gradient(to bottom, #FF477E 0%, #FF7096 0%, #FF477E 100%);
    --pink-shadow: 0px 20px 40px 10px rgba(216,17,89,0.40);

    --button: #f34d77;
    --button-hover: #ff477e;

    --text-color: #495057;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.app-container{
    background-color: var(--background);
    font-family: var(--font-family);
    color: var(--text-color);
    overflow-x: hidden;
    min-height: 100vh;
    transition: 0.5 ease-in-out;
    @media screen and (min-width: 280px) and (max-width:1080px) {
        padding: 0;
    }
}
