@import "../base/base";

.editor {

  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
  .simple-editor-wrapper{

    .tiptap-toolbar{
      
      background: var(--tiptap-toolbar);

    }

    .tiptap.ProseMirror.simple-editor{
      font-family: var(--font-family);
      

    }

  }

  button{
    padding: 10px;
    margin: 5px;
    text-align: center;
    border: 2px solid var(--button);
    border-radius: 20px;
    cursor: pointer;
    background: var(--primary-pink);
    box-shadow: var(--pink-shadow);

    &:hover{
      background: var(--button-hover);
      transition: box-shadow 0.3s ease-in-out;
    }
    
      
  }

}

