@import "../base/base";

.home{
    padding-top: 20px;


    .container{
        padding-top: 40px;
        border-radius: 40px;

        .content{
            padding: 20px;
            .title{
                text-align: center;
                font-size: x-large;
            }
            .subtitle{
                text-align: center;
                font-size: medium;
            }
            
            .description{
                padding: 20px;
                text-align: center;

            }
            a{
                display: flex;         // Linkin kendisini de ortalamaya yardımcı olur
                justify-content: center;
                text-decoration: none;

                
                button{
                    padding: 10px;
                    margin: 5px;
                    text-align: center;
                    border: 2px solid var(--pink-rgb);
                    border-radius: 20px;
                    cursor: pointer;
                    background: var(--primary-pink);
                    box-shadow: var(--pink-shadow);
                    transition: box-shadow 0.3s ease;
                    
                }

            }
            
            
            
        }
    }
}