@import "base/base";

@import "components/navbar";
@import "components/footer";

@import "pages/diary";
@import "pages/home";

@import "../styles/variables";
@import "../styles/keyframe-animations";   